@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-md-4">
        <div id="battery" style="margin-left: 50px; margin-top: 120px;"></div>
    </div>
    <div class="col-md-4">
        <input id="speedometer" />
    </div>
    <div class="col-md-4">
        <div>
            <img style="position: absolute; width: 100px; margin-top: 160px; margin-left: 10px;" src="~/images/lap.png" />
            <div id="lap-qtd" style="position: absolute; margin-top: 245px; margin-left: 10px; font-size: 40pt;"><div id="lap-qtd">0</div></div>

            <img style="position: absolute;" src="~/images/foot-press.jpg" />
            <div id="freio-qtd" style="position: absolute; margin-top: 100px; margin-left: 10px; font-size: 40pt;"><div id="freio-qtd">0</div></div>
        </div>
        <div style="margin-left: 250px; margin-top: 50px;">
            <div class="tempGauge0"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px; background-color: rgba(200,200,200,0.8); padding: 20px 20px 20px 20px; border-radius: 5px;">
    <div class="col-md-4">
        <a class="btn flag green-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn flag yellow-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn flag red-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

@RenderPage("~/Views/Home/plugins.cshtml")

<script type="text/javascript">
    $("#speedometer").speedometer({ divFact: 10, eventListenerType: 'keyup' });

    battery = $("#battery").battery({
        backgroundColor: '#1ABC9C',
        batteryColor: '#16A085',
        maxWidth: 150
    });

    $(".tempGauge0").tempGauge({ width: 100, borderWidth: 2, showLabel: true, showScale: true });

    $(".green-btn, .yellow-btn, .red-btn, .shutdown-btn").on('click', function () {
        var class_name = this.className.split(" ")[2];

        var green = (class_name == "green-btn") ? true : false;
        var yellow = (class_name == "yellow-btn") ? true : false;
        var red = (class_name == "red-btn") ? true : false;
        var shutdown = (class_name == "shutdown-btn") ? true : false;

        var data = {
            Green: green,
            Yellow: yellow,
            Red: red,
            Shutdown: shutdown
        };

        jQuery.ajax({
            url: '/Home/SendFlag/',
            type: 'POST',
            data: data,
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                alert(response.flag_ativada);
                console.log(response);
            },
            error: function (err) {            
                console.log(err);
            }
        }); 
    });

    jQuery.ajax({
        url: '/Home/GetData/',
        type: 'POST',
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
            battery.Update(response.Tensao);

            $('#lap-qtd').empty();
            $('#freio-qtd').empty();
            $('.tempGauge0').empty();

            $('#lap-qtd').append(response.FreiosQTD);
            $('#freio-qtd').append(response.VoltasQTD);


            $('.tempGauge0').append('<html>'+response.Temperatura+'&deg;C</html>');

            console.log(response);
        },
        error: function (err) {            
            console.log(err);
        }
    }); 
</script>