@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>

<div class="row" style="margin-top: 60px; margin-left: -60px;">
    <div class="col-md-3">
        <div id="battery" style="margin-left: 50px; margin-top: 120px;"></div>
    </div>
    <div class="col-md-3">
        <input id="speedometer" style="display: none;" />
    </div>
    <div class="col-md-3" style="margin-left: 60px;">
        <div>
            <img style="position: absolute; width: 100px; margin-top: 160px; margin-left: 10px;" src="~/images/lap.png" />
            <div id="lap-qtd" style="position: absolute; margin-top: 245px; margin-left: 10px; font-size: 40pt;"><div id="lap-qtd">0</div></div>

            <img style="position: absolute;" src="~/images/foot-press.jpg" />
            <div id="freio-qtd" style="position: absolute; margin-top: 100px; margin-left: 10px; font-size: 40pt;"><div id="freio-qtd">0</div></div>
        </div>
        <div style="border-radius: 200px 200px 10px 10px; background-color: rgba(0,0,0, 0.9); padding-left: 20px; padding-right: 320px; padding-top:20px; margin-top: 40px; margin-left: 190px;">
            <div class="gauge"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px; margin-left: -50px; background-color: rgba(200,200,200,0.8); padding: 20px 20px 20px 20px; border-radius: 5px;">
    <div class="col-md-4">
        <a class="btn flag green-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn flag yellow-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn flag red-btn"><i class="ion-ios-arrow-down"></i></a>
    </div>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src='https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js'></script>

@RenderPage("~/Views/Home/plugins.cshtml")
@RenderPage("~/Views/Home/Gauge.cshtml")

<script type="text/javascript">
    $("#speedometer").speedometer({ divFact: 5, eventListenerType: 'change', maxVal: 80, dangerLevel: 60 });

    battery = $("#battery").battery({
        backgroundColor: '#1ABC9C',
        batteryColor: '#16A085',
        maxWidth: 150
    });

    $(document).ready(function () {
        getData();
    });

    $(".green-btn, .yellow-btn, .red-btn, .shutdown-btn").on('click', function () {
        var class_name = this.className.split(" ")[2];

        var green = (class_name == "green-btn") ? true : false;
        var yellow = (class_name == "yellow-btn") ? true : false;
        var red = (class_name == "red-btn") ? true : false;
        var shutdown = (class_name == "shutdown-btn") ? true : false;

        var data = {
            Green: green,
            Yellow: yellow,
            Red: red,
            Shutdown: shutdown
        };

        jQuery.ajax({
            url: '/Home/SendFlag/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                alert(response.flag_ativada);
                console.log(response);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function getData()
    {
        jQuery.ajax({
            url: '/Home/GetData/',
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                battery.Update(response.Tensao);

                $('#lap-qtd').empty();
                $('#freio-qtd').empty();

                $('#lap-qtd').append(response.FreiosQTD);
                $('#freio-qtd').append(response.VoltasQTD);
                $('#speedometer').val(response.Velocidade);
                $('#speedometer').trigger('change');

                $('.gauge').each(function (index, item) {
                    let gauge = $(item).dxCircularGauge('instance');
                    let gaugeElement = $(gauge._$element[0]);

                    gaugeElement.find('.dxg-title text').last().html(`${response.Temperatura} ºC`);
                    gauge.value(response.Temperatura);
                });

                console.log(response);
                setTimeout(getData(),500);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }    
</script>