@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-md-4">
        <div id="battery" style="margin-left: 50px; margin-top: 120px;"></div>
    </div>
    <div class="col-md-4">
        <input id="speedometer" />
    </div>
    <div class="col-md-4">
        <div>
            <img style="position: absolute; width: 100px; margin-top: 160px; margin-left: 10px;" src="~/images/lap.png" />
            <div id="lap-qtd" style="position: absolute; margin-top: 245px; margin-left: 10px; font-size: 40pt;"><div id="lap-qtd">0</div></div>

            <img style="position: absolute;" src="~/images/foot-press.jpg" />
            <div id="freio-qtd" style="position: absolute; margin-top: 100px; margin-left: 10px; font-size: 40pt;"><div id="freio-qtd">0</div></div>
        </div>
        <div style="margin-left: 250px; margin-top: 50px;">
            <div class="tempGauge0"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px; background-color: rgba(200,200,200,0.8); padding: 20px 20px 20px 20px; border-radius: 5px;">
    <div class="col-md-4">
        <a class="btn green-btn" href="#"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn yellow-btn" href="#"><i class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-md-4">
        <a class="btn red-btn" href="#"><i class="ion-ios-arrow-down"></i></a>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

@RenderPage("~/Views/Home/plugins.cshtml")

<script type="text/javascript">
    $("#speedometer").myfunc({ divFact: 10, eventListenerType: 'keyup' });

    battery = $("#battery").battery({
        backgroundColor: '#1ABC9C',
        batteryColor: '#16A085',
        maxWidth: 150
    });

    battery.Update(100);

    $(".tempGauge0").tempGauge({ width: 100, borderWidth: 2, showLabel: true, showScale: true });

    $
    jQuery.ajax({
        url: '/Home/GetData/',
        type: 'POST',
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
            battery.Update(response.Tensao);

            $('#lap-qtd').empty();
            $('#freio-qtd').empty();
            $('.tempGauge0').empty();

            $('#lap-qtd').append(response.FreiosQTD);
            $('#freio-qtd').append(response.VoltasQTD);
            $('.tempGauge0').append(response.Temperatura+'&deg;C');

            console.log(response);
        },
        error: function (err) {            
            console.log(err);
        }
    }); 
</script>