body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red-btn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #d9534f;
    background-color: #d9534f;
    margin-left: 25%;
    opacity: 0.8;
}

.yellow-btn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #ffc107;
    background-color: #ffc107;
    margin-left: 25%;
    opacity: 0.8;
}

.green-btn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
    margin-left: 25%;
    opacity: 0.8;
}

.green-btn:hover, .yellow-btn:hover, .red-btn:hover{
    opacity: 1;
    transition: 1s;
}