body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #d9534f;
    background-color: #d9534f;
    margin-left: 25%;
    opacity: 0.8;
}

.yellow-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #ffc107;
    background-color: #ffc107;
    margin-left: 25%;
    opacity: 0.8;
}

.green-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
    margin-left: 25%;
    opacity: 0.8;
}

.green-btn:hover, .yellow-btn:hover, .red-btn:hover{
    opacity: 1;
    transition: 1s;
}

.battery {
    padding: 20px;
    padding-right: 30px;
}

.batFill {
    position: relative;
    height: 71px;
}

.bat-border {
    border: 4px solid black;
    border-radius: 15px;
    padding: 5px;
    display: inline-block;
}

.bat-ico {
    width: 0px;
    border: 4px solid black;
    height: 61px;
    display: inline-block;
    margin-bottom: 10px;
}

.bat-text {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25%;
}

.color-red {
    stop-color: #e23131;
}

.color-yellow {
    stop-color: #fbe500;
}

.color-green {
    stop-color: #25cd6b;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #26323a;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    word-spacing: 4px;
}

    .footer a {
        letter-spacing: 2px;
        word-spacing: 2px;
    }

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.main__title {
    text-align: center;
    font-size: 48px;
}

.gradient-mask {
    visibility: hidden;
}

.button {
    position: absolute;
    right: 40px;
    top: 40px;
    border: 2px solid #fff;
    background-color: #26323a;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

    .button:active {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        outline: 0;
    }

    .button:hover, .button:focus {
        outline: 0;
        background: linear-gradient(-140deg, #212629, #395467);
    }

.gauge-container {
    padding: 20px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.gauge {
    height: 220px;
    width: 300px;
}

.gauge .dxg-range.dxg-background-range {
    fill: url(#gradientGauge);
}

.gauge .dxg-line {
    -webkit-transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
    transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
}

.gauge .dxg-line path:first-child,
.gauge .dxg-line path:last-child {
    display: none;
}

.gauge .dxg-line path:nth-child(0),
.gauge .dxg-line path:nth-child(1),
.gauge .dxg-line path:nth-child(2) {
    stroke: white;
}

.gauge .dxg-line path:nth-child(5),
.gauge .dxg-line path:nth-child(6),
.gauge .dxg-line path:nth-child(7) {
    stroke: red;
}

.gauge .dxg-elements text:first-child {
    -webkit-transform: translate(19px, 13px);
    transform: translate(19px, 13px);
}

.gauge .dxg-elements text:last-child {
    -webkit-transform: translate(-27px, 14px);
    transform: translate(-27px, 14px);
}

.gauge .dxg-value-indicator path {
    -webkit-transform: scale(1.2) translate(0, -5px);
    transform: scale(1.2) translate(0, -5px);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.gauge .dxg-value-indicator .dxg-title {
    text-transform: uppercase;
}

.gauge .dxg-value-indicator .dxg-title text:first-child {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
.gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
    -webkit-transform: translate(0, -109px);
    transform: translate(0, -109px);
}

.gauge .dxg-value-indicator .dxg-spindle-hole {
    fill: #26323a;
}
